/*header page*/
#Header_article {
  z-index: 2;
  font-family: "Pacifico", cursive;
  background-color: var(--special_black);
  box-shadow: 0 0px 10px black;
  order: 1;
}

/*header content container*/
#Header_content_container {
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

@keyframes header_blinker {
  20% {
    background-color: var(--orange);
  }
  30% {
    background-color: var(--blue);
  }

  50% {
    background-color: var(--orange);
  }
  100% {
    background-color: var(--blue);
  }
}

@media screen and (max-width: 600px) {
}
