#studyplanner_article{
    align-items: center;
    height: 100%;
}
#studyplanner_nav{
    width: 80%;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    height: 15%;
    background-color: var(--green);
    z-index: 1;
    
}
#studyplanner_nav button{
    height:100%;
    margin: 5px;
    border-radius: 0;
    background-color: var(--green);
    color: var(--white);
    border-bottom: 5px solid rgba(255, 0, 0, 0.233);

}
#studyplanner_lectures_section{
    width: 80%;
    position: relative;
    display: grid;
    background-color: var(--black3);
    
}
#studyplanner_lectures_section ul{
display: grid;
grid-template-columns: 1 auto;
background-color: var(--special_black);
padding-right: 10px;
padding-left: 10px;
overflow: scroll;
}
.studyplanner_lectures_divbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#studyplanner_lectures_section ul li{
    background-color: var(--black3);
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--white);
    padding:10px;
    border: solid 5px var(--green);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    font-size: 12px;
}

#studyplanner_lectures_tableLabels_div{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    padding-right: 23px;
    padding-left: 23px;
    background-color: brown;
}
#studyplanner_lectures_tableLabels_div label{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 120px;
}
#studyplanner_lectures_section ul li p{
    font-size: 10px;
    word-wrap: break-word;
    width: 100px;
}

#studyplanner_addLecture_div{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;

}
#studyplanner_addLecture_div label{
    background-color: var(--red);
    padding: 10px;
    width: fit-content;
    font-size: 12px;
    cursor: pointer;
}
#studyplanner_lectures_section nav{
    margin-top: 50px;
    flex-grow: 1;

}
#studyplanner_lectures_section nav button{
    font-size: 10px;
    color: var(--white);
    border-radius: 0;
    border: 0;
}
#studyplanner_lectures_nav button{
   background-color: var(--green);
   cursor: pointer;
}