#NotesAside_main_page {
  order: 5;
  overflow: hidden;
}

#NotesAside_main_container {
  animation-name: width;
  animation-duration: 1s;
  order: 2;
  width: 0;
  overflow: hidden;
}
#h3_title_NotesAside {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  padding: 10px;
  background-color: var(--orange);
  text-align: center;
  color: var(--white);
  font-size: 14pt;
  z-index: 1;
  box-shadow: 0 0 5px black;
}

#form_notes_dashboard h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  padding: 10px;
  background-color: var(--orange);
  text-align: center;
  color: var(--white);
  font-size: 14pt;
  width: 100%;
}

#control_NotesAside {
  background-color: var(--special_black);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
  z-index: 1;
  order: 1;
}
#control_NotesAside i {
  color: var(--white);
  font-size: 20pt;
  padding: 10px;
  animation-name: arrow_control_color;
  animation-duration: 1.5s;
}

.div_icons {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 10px;
  color: var(--blue);
}

input[value=""]::-webkit-datetime-edit {
  color: transparent;
}

#piano_for_study {
  box-shadow: 0 0 2px black;
}

@media screen and (max-width: 600px) {
  #menuaside_main_container li {
    font-size: 7pt;
  }
  #menuaside_main_container {
    font-size: 7pt;
  }
  #NotesAside_main_page {
    display: none;
  }
}

@keyframes width {
  0% {
    width: 0;
  }
  20% {
    width: 40px;
  }
}

#control_onlinefriends_window {
  text-align: center;
  background-color: var(--blue);
  padding: 10px;
  color: var(--white);
}
