#footer_app {
  font-family: "Roboto", sans-serif;
  background-color: var(--blue);
  box-shadow: 0 15px 20px black;
  z-index: 100;
  animation-name: footer_blinker;
  animation-duration: 1s;
  animation-delay: 0.8s;
  order: 4;
}

#footer_app_container {
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#footer_app h4 {
  color: var(--white);
  font-weight: 300;
}

#chat {
  background-color: var(--black);
  height: 0;
  box-shadow: 0 0 20px var(--black);
}

#chat ul {
  padding: 10px;
  gap: 10px;
}

#users li {
  background-color: var(--blue);
  color: var(--white);
  font-size: 18pt;
  padding: 5px;
}

@keyframes footer_blinker {
  20% {
    background-color: var(--orange);
  }
  30% {
    background-color: var(--blue);
  }

  50% {
    background-color: var(--orange);
  }
  100% {
    background-color: var(--blue);
  }
}

@media screen and (max-width: 600px) {
  #footer_app_container h4 {
    font-size: 5pt;
  }
  #header_app_content i {
    font-size: 10pt;
  }
  #app_nav {
    gap: 25px;
  }
}
