#MountPosts_content_container {
  flex-grow: 1;
  padding: 30px 15px;
  box-shadow: 0 0px 100px rgba(0, 0, 0, 0.473);
  color: white;
  gap: 20px;
}
#MountPosts_content_container li {
  background-color: var(--black2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  gap: 20px;
  justify-content: space-between;
}
.MountPosts_note {
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}

#MountPosts_article {
  background-color: var(--special_black);
  overflow: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075);
  flex-grow: 1;
}
.MountPosts_date {
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  text-align: right;
}

#MountPosts_content_container div p {
  padding: 5px;
  white-space: nowrap;
}
#MountPosts_content_container li p {
  padding: 5px;
}
