#MountPosts_content_container {
  flex-grow: 1;
  padding: 20px 15px;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
  background-color: var(--red);
  box-shadow: 2px 0px 70px rgba(0, 0, 0, 0.212);
}
#MountPosts_content_container p {
  font-family: "Ropa Sans", sans-serif;
}

#MountPosts_content_container li {
  background-color: black;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  gap: 15px;
  justify-content: space-between;
  position: relative;
  color: black;
}
.note_options_div p {
  color: var(--white);
  font-family: "Ropa Sans", sans-serif;
}
.details_div {
  overflow: scroll;
}
.details_div p {
  color: var(--white);
  font-size: 13pt;
}
.comment_li {
  background-color: var(--gray) !important;
  padding: 15px !important;
  border-radius: 0 !important;
}
.comment_li {
  font-family: "Ropa Sans", sans-serif;
  font-size: 14pt;
}
.commentlist_ul {
  background-color: var(--black);

  overflow: auto;
  gap: 5px;
}
.comment_input {
  background-color: var(--special_black);
  color: white;
  padding: 15px !important;
  box-shadow: 0 0 10px black;
}
.comment_input::placeholder {
  color: white;
}
.comments_div {
  order: 2;
  max-height: 200px;
  overflow: hidden;
  gap: 5px;
}
.note_p {
  font-size: 20pt;
  font-family: "Roboto", sans-serif;
}

#MountPosts_article {
  overflow: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075);
  flex-grow: 1;
  order: 2;
}
.MountPosts_date {
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  text-align: right;
}

.note_options_div {
  justify-content: space-between;
  order: 1;
  padding-right: 0;
}
.options_div {
  position: absolute;
}

.postername_p {
  background-color: var(--red);
}
.details_div {
  gap: 10px;
  justify-content: flex-end;
  order: 2;
}
#MountPosts_content_container div p {
  padding: 5px;
  white-space: nowrap;
}
#MountPosts_content_container li p {
  padding: 5px;
}

.MountPosts_postOptionsContainer {
  gap: 10px;
}

.MountPosts_postOptionsContainer p {
  background-color: var(--red);
}
