/* Search */

#SearchPosts_article {
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  order: 3;
  width: 100%;
  border-top: solid rgba(0, 0, 0, 0.096) 2px;
  background-color: var(--red);
}
#SearchPosts_control_section {
  color: var(--white);
  align-items: center;
  justify-content: center;
}
#SearchPosts_content_container {
  display: none;
}
#SearchPosts_subject_container {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
#SearchPosts_category_container {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
#SearchPosts_keyword {
  outline-style: none;
  font-size: 12pt;
  padding: 10px;
  box-shadow: none !important;
  border-radius: 0 !important ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--white);
}
#SearchPosts_category {
  outline-style: none;
  font-size: 12pt;
  padding: 10px;
  box-shadow: none !important;
  border-radius: 0 !important ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--white);
}

#SearchPosts_subject {
  outline-style: none;
  font-size: 12pt;
  padding: 10px;
  box-shadow: none !important;
  border-radius: 0 !important ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--white);
}

#SearchPosts_Buttons_container {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#SearchPosts_searchButton {
  border: none;
  background-color: var(--special_black);
  border-radius: 0;
  color: var(--white);
  font-size: 12pt;
}
#SearchPosts_clearButton {
  border: none;
  background-color: var(--special_black);
  border-radius: 0;
  color: var(--white);
  font-size: 12pt;
}
#search_close_icon {
  display: none;
}
