#Posts_article {
  flex-grow: 1;
  order: 2;
  align-items: center;
  background-color: var(--black);
  overflow: auto;
}
#Posts_content_container {
  width: 70%;
  flex-grow: 1;
}

/*...................Home Content............*/

#fetching_out_page {
  font-family: "Roboto", sans-serif;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 5px solid rgb(255, 255, 255);
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255); */
  background-color: var(--blue);
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075);
  height: 0;
  order: 3;
}

#control_up_greetingArticle {
  text-align: center;
  background-color: var(--blue);
  cursor: pointer;
  padding: 10px;
  order: 2;
}

#control_down_greetingArticle i {
  font-size: 18pt;
  color: white;
  padding: 5px;
}
#control_down_greetingArticle {
  text-align: center;
  background-color: var(--blue);
  border-top: dotted rgba(0, 0, 0, 0.137) 4px;
  padding: 10px;
  order: 4;
  cursor: pointer;
}

#control_up_greetingArticle i {
  font-size: 18pt;
  color: white;
  padding: 5px;
}

#form_notes_dashboard i,
#form_todo_dashboard i {
  font-size: 18pt;
  color: var(--blue);
  padding: 0px 20px;
}

#cover_content {
  background-color: var(--blue);
  order: 5;
  flex-grow: 1;
  flex-basis: 0;
}

@media screen and (max-width: 1200px) {
  #Posts_content_container {
    width: 100%;
  }
}
