#NotesAside_main_page {
  max-width: 70%;
  order: 3;
}

#NotesAside_main_container {
  animation-name: width;
  animation-duration: 1s;
  order: 2;
  width: 0;
  overflow: hidden;
}
#h3_title_NotesAside {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  padding: 10px;
  background-color: var(--orange);
  text-align: center;
  color: var(--white);
  font-size: 14pt;
  z-index: 1;
  box-shadow: 0 0 5px black;
}

#gpForm_post_NotesAside h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  padding: 10px;
  background-color: var(--orange);
  text-align: center;
  color: var(--white);
  font-size: 14pt;
  width: 100%;
}

#control_NotesAside {
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
  z-index: 1;
  order: 1;
}
#control_NotesAside i {
  color: var(--white);
  font-size: 16pt;
  padding: 10px;
  animation-name: arrow_control_color;
  animation-duration: 1.5s;
}

#gpForm_post_NotesAside {
  background-color: var(--blue);
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 5px black;
  flex-grow: 1;
}

#gpForm_post_NotesAside i {
  font-size: 16pt;
  color: var(--white);
  padding: 20px;
}

#gpForm_post_NotesAside input,
select,
textarea {
  border-radius: 8px;
  outline-style: none;
  border: none;
  width: 250px;
  font-size: 12pt;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.226);
  font-family: "Roboto", sans-serif;
}

#gpForm_post_NotesAside textarea {
  flex-grow: 1;
}

.div_icons {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 10px;
  color: var(--blue);
}

#input_keyword_search {
  outline-style: none;
  border: none;
  font-size: 10pt;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
}

#keyword_search_NotesAside {
  background-color: var(--green);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

#label_search_NotesAside {
  padding: 10px;
}
input[value=""]::-webkit-datetime-edit {
  color: transparent;
}

#piano_for_study {
  box-shadow: 0 0 2px black;
}

@media screen and (max-width: 600px) {
  #menuaside_main_container li {
    font-size: 7pt;
  }
  #menuaside_main_container {
    font-size: 7pt;
  }
  #NotesAside_main_page {
    display: none;
  }
}

@keyframes width {
  0% {
    width: 0;
  }
  20% {
    width: 40px;
  }
}
