#login_div {
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header_login {
  position: absolute;
  top: 0px;
  font-family: "Pacifico", cursive;
  padding: 60px;
  font-size: 35px;
  color: var(--blue);
}

#header_login h1 {
  font-weight: 500;
}

#login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
#form_container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.486);
}

#login_form [type="text"],
[type="password"],
[type="submit"],
[type="email"],
[type="date"] {
  font-size: 14pt;
  width: 400px;
  outline-style: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.226);
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}

#login_form [type="submit"] {
  background-color: rgba(6, 6, 241, 0.719);
  margin-top: 20px;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#login_form [type="submit"]:hover {
  transform: scale(0.993);
}

#login_footer {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  text-align: center;
  height: 10%;
  padding: 20px 500px;
  box-shadow: 0px 60px 100px rgba(18, 118, 175, 0.486);
}

#form_container h1 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: black;
}

#form_container h4 {
  font-weight: 300;
}

#signup {
  display: none;
}
