#Notifications_dropMenu_container {
  display: none;
  position: absolute;
  right: 330px;
  background-color: black;
  height: 50%;
  width: 400px;
  overflow: auto;
  color: white;
  justify-content: flex-start;
  gap: 10px;
}

#Notifications_dropMenu_container li {
  font-family: "Roboto", sans-serif;
  background-color: rgb(212, 48, 48);
  padding: 20px;
  cursor: pointer;
  width: 80%;
}

#Notifications_dropMenu_container div {
  align-items: center;
  gap: 10px;
}
#Notifications_dropMenu_container i {
  padding-inline-end: 10px;
}
#Notifications_alert {
  color: transparent;
  position: absolute;
  font-size: 10px !important;
  z-index: 1;
}
