#Notifications_dropMenu_container {
  display: none;
  position: absolute;
  background-color: var(--background_menu);
  height: 50%;
  width: 300px;
  overflow: auto;
  color: white;
  justify-content: flex-start;
  gap: 10px;
  border-top: var(--red) 10px solid;
  bottom: 50px;
}

#Notifications_dropMenu_container li {
  font-family: "Roboto", sans-serif;
  background-color: rgb(212, 48, 48);
  padding: 20px;
  cursor: pointer;
  width: 80%;
}

#Notifications_dropMenu_container div {
  align-items: center;
  gap: 10px;
}
#Notifications_dropMenu_container i {
  padding-inline-end: 10px;
}
#Notifications_alert {
  color: red;
  position: absolute;
  font-size: 10px !important;
  z-index: 1;
}
