#aside_main_app {
  font-family: "Roboto", sans-serif;
  background-color: var(--blue);
  width: 20%;
  overflow: auto;
  order: 2;
  display: none;
}
#aside_main_app_container {
  padding: 20px;
  overflow: auto;
}

#aside_main_app li {
  list-style: none;
  border-bottom: solid black 1px;
  color: var(--white);
}

#aside_main_app ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#aside_main_app h3 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: black;
}
