#content_main_app {
  order: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#contentView_div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#notes {
  order: 1;
  flex-grow: 1;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#div_icons {
  order: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#div_icons i {
  color: var(--blue);
  font-size: 20pt;
}

#notes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newInput_div {
  order: 2;
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.034);
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.342);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
textarea {
  padding: 20px;
  outline-style: none;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

#newInput_div [type="submit"] {
  outline-style: none;
  padding: 5px;
  font-size: 14pt;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  width: 100%;
  color: var(--white);
}

#newInput_div form [type="submit"]:hover {
  transform: scale(0.993);
}

#contentView_div h2 {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.034);
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.342);
  font-weight: 300;
}

#form_buttons {
  font-size: 16pt;
  gap: 10px;
  padding: 5px 1px;
  color: var(--blue);
}

#open_icon {
  display: none;
}

#content_main_app h1 {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#todo_table {
  width: 50%;
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
  margin: 50px auto;
}
