/*......menuAside.....*/
#menuaside_main_page {
  order: 2;
  position: absolute;
  right: 10px;
  display: none;
  height: 480px;
  overflow: hidden;
  width: min-content;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0 10px black;
}
#menuaside_main_container {
  font-family: "Roboto", sans-serif;
  overflow: auto;
  height: 480px;
}

#menuaside_main_container li {
  border-bottom: solid black 1px;
  color: var(--black);
  cursor: pointer;
  padding: 15px;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gray);
}

#menuaside_main_container h3 {
  font-family: "Pacifico", cursive;
  color: var(--white);
  text-align: center;
  white-space: nowrap;
  background-color: var(--gray_for_read);
  font-weight: 300;
  padding: 8px;
}

/*......todoAside.....*/
#todoaside_main_page {
  max-width: 70%;
}
#todouaside_main_container {
  animation-name: test;
  animation-duration: 1s;
  animation-delay: 1s;
}

#todouaside_main_container li {
  margin: 15px 5px;
}

#todouaside_main_container li p {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#todouaside_main_container {
  width: 0;
  background-color: var(--gray_for_read);
  overflow: hidden;
}
#h3_title_todoaside {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  padding: 10px;
  background-color: var(--blue);
  text-align: center;
  box-shadow: 0 0 3px black;
  color: var(--white);
  font-size: 14pt;
}

#ul_table_todoaside {
  flex-grow: 1;
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  overflow: auto;
  overflow-wrap: break-word;
  background-color: var(--white);
}

#ul_table_todoaside i {
  font-size: 16pt;
}

#control_todoAside {
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
  z-index: 1;
}
#control_todoAside i {
  color: var(--white);
  font-size: 16pt;
  padding: 10px;
}

#form_post_todoaside {
  padding: 10px;
  background-color: var(--blue);
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
}

#form_post_todoaside i {
  font-size: 18pt;
  color: var(--white);
}

#form_post_todoaside input {
  border-radius: 8px;
  outline-style: none;
  border: none;
  width: 250px;
  font-size: 12pt;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.226);
  font-family: "Roboto", sans-serif;
}

.div_icons {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 10px;
  color: var(--blue);
}

@keyframes test {
  0% {
    width: 0px;
  }
  50% {
    width: 20px;
  }

  100% {
    width: 0px;
  }
}

@media screen and (max-width: 600px) {
  #menuaside_main_container li {
    font-size: 7pt;
  }
  #menuaside_main_container {
    font-size: 7pt;
  }
  #todoaside_main_page {
    display: none;
  }
}
