/*....content_main_page....*/
#content_main_page {
  order: 1;
  background-color: var(--gay_for_read);
  overflow: hidden;
  flex-grow: 1;
  background-color: var(--blue);
  margin: 0 auto;
  box-shadow: 1px 0 6px black;
}

#notes {
  order: 1;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--gray);
  height: 80%;
}

#div_icons {
  order: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#div_icons i {
  color: black;
  font-size: 14pt;
}

#notes li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

#newInput_div {
  order: 2;
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#textarea_div {
  gap: 10px;
}
#input_area {
  padding: 20px;
  outline-style: none;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#newInput_div [type="submit"] {
  outline-style: none;
  padding: 5px;
  font-size: 14pt;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  width: 100%;
  color: var(--white);
  height: 20%;
}

#newInput_div form [type="submit"]:hover {
  transform: scale(0.993);
}

#contentView_div h2 {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.034);
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.342);
  font-weight: 300;
}

#form_buttons {
  font-size: 14pt;
  gap: 10px;
  padding: 5px 1px;
  color: var(--white);
}

#close_icon {
  display: none;
}

#content_main_app h1 {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
}

#notes_div h2,
#terminology_div h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  color: var(--white);
  padding: 10px 0;
  font-size: 14pt;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
}

@keyframes jump_icon {
  0% {
    position: relative;
    top: 10px;
  }
  90% {
    position: relative;
    top: -10px;
  }
  100% {
    position: relative;
    top: 0px;
  }
}

/* todo */
#todo_table p {
  font-weight: 300;
}

#todo_table li {
  background-color: rgb(224, 214, 214);
  padding: 10px 0;
  color: black;
}
#todo_table p {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
}

#todo_table h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px;
  color: var(--black);
  font-weight: 500;
}
/*..............................*/
#todo_table li {
  list-style: none;
  padding: 10px 0;
}

/*..............................*/

li p {
  font-family: "Roboto", sans-serif;
}

#input_form_todo {
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  background-color: var(--gray_for_read);
  z-index: 1;
  box-shadow: 0 0 2px black;
}

#input_form_todo i {
  color: var(--white);
  font-size: 16pt;
}

#input_form_todo [type="text"],
#input_form_todo [type="date"] {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  font-size: 10pt;
  font-weight: 300;
  outline-style: none;
  border: none;
  width: fit-content;
  box-shadow: 0 0 3px white;
  border-radius: 5px;
}
