/*header page*/
#header_app_page {
  z-index: 100;
  font-family: "Pacifico", cursive;
  background-color: var(--blue);
  box-shadow: 0 -5px 10px black;
  animation-name: header_blinker;
  animation-duration: 1s;
  animation-delay: 1s;
}

#header_app_content {
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

/*Logo*/
#header_app_content h2 {
  color: var(--white);
  text-align: center;
  letter-spacing: 1px;
}

/*Nav*/
#header_app_content i {
  font-size: 18pt;
  color: var(--white);
  cursor: pointer;
}

#app_nav {
  gap: 30px;
}

#header_app i:hover {
  transform: scale(0.96);
}

@keyframes header_blinker {
  20% {
    background-color: var(--orange);
  }
  30% {
    background-color: var(--blue);
  }

  50% {
    background-color: var(--orange);
  }
  100% {
    background-color: var(--blue);
  }
}
