#content_home_container {
  margin: auto;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  animation-name: height_min_to_max;
  animation-duration: 1s;
  background-color: var(--gray);
}

#h1_content_home_welcome {
  color: black;
  font-weight: 300;
  width: fit-content;
  margin: auto;
  font-size: 18pt;
  padding: 30px;
}

@keyframes height_min_to_max {
  0% {
    height: 0;
  }
  75% {
    background-color: var(--orange);
  }
  100% {
    height: 100px;
  }
}
