#login_page {
  min-height: 100vh;
  background-color: var(--white);
  align-items: center;
}

#header_loginform_container {
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 70px 30px;
}

#header_login {
  font-family: "Pacifico", cursive;
  color: var(--blue);
}

#h1_header_login {
  font-size: 60pt;
  font-weight: 500;
  text-align: center;
}

#login_form {
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.486);
  width: fit-content;
}

#login_form [type="text"],
[type="password"],
[type="submit"],
[type="email"],
[type="date"] {
  font-size: 14pt;
  width: 400px;
  outline-style: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.226);
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}

#login_form [type="submit"] {
  background-color: var(--blue);
  margin-top: 20px;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#login_form [type="submit"]:hover {
  transform: scale(0.992);
}

#footer_login {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 60px 100px rgba(18, 118, 175, 0.486);
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  flex-grow: 1;
  padding: 30px;
}

#h4_footer_login {
  font-weight: 300;
}

#login_form_button,
#signup_form_button {
  font-weight: 300;
}

#submit_signup_input {
  display: none;
}

@media screen and (min-width: 900px) {
  #h1_header_login {
  }
  #login_form {
  }
}
